body {
    background-color: #F4D04E;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 1440px;
    gap: 960px;
}

h4 {
    font-family: 'Figtree Extra Bold', serif;
}

p {
    font-family: 'Figtree Medium', serif;
    
}

h2 {
    font-family: 'Figtree Extra Bold', serif;
}

p {
    font-family: 'Figtree Medium', serif;
}

h5 {
    font-family: 'Figtree Extra Bold', serif;
}

.cartao {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 23px;
    gap: 20px;
    position: absolute;
    border-radius: 20px;
    box-shadow: 10px 9px 0px #111111;
    border: 1px solid #111111;
    margin-left: -28px;
}

.lista {
    position: relative;
    width: 358px;
    height: 495px;
    padding: 12px;
    top: 19vh;
}

.cartao .titulo {
    font-size: 24px;
    text-align: left;
    color: #111111;
    line-height: 150%;
    letter-spacing: 0%;
    transition: 2s;
    margin-top: -10px;
}

.cartao .texto-1 {
    font-size: 14px;
    color: #111111;
    line-height: 150%;
    background-color: #F4D04E;
    border-radius: 4px;
    padding: 4px;
    width: 83px;
    margin-top: 4px;
    text-align: center;
}

.cartao .texto-2 {
    font-size: 14px;
    color: #111111;
    line-height: 150%;
    text-align: left;
    margin-top: -5px;
}

.cartao .texto-3 {
    font-size: 16px;
    color: #6B6B6B;
    line-height: 150%;
    text-align: left;
    margin-bottom: -41px;
}

.cartao .nome {
    font-size: 14px;
    color: #111111;
    line-height: 150%;
}

.imagem-ilustracao {
    border-radius: 10px;
    align-items: center;
}

.imagem-avatar {
    width: 32px;
    height: 32px;
    align-items: start;
    margin-bottom: -30px;
}

div .nome {
    margin-left: 40px;
}

.titulo:hover {
    color: #F4D04E;
    cursor: pointer;
}